html, body {
  height: 100%;
}


#root {
  height: 100%; 
}

.landing-page {
  background-color: black;
}

.portfolio-page {
  background-color: white;
}

.about-page {
  background-color: rgb(243,243,243);
}

.contact-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.portfolio-container {
  max-width: 83%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  margin-top: auto;
  margin-bottom: auto;
}

.modal-backdrop.show {
  opacity: 0.95;
  height: 100%;
}

.modal.fade.top.show {
  padding-top: 4rem; 
}

.modal-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.modal-tag {
  margin-bottom: 0;
}


a.btn-outline-black.btn.Ripple-parent.modal-link.btn-md {
    padding: 10px 17px;
}

.accent-color{
  color: #31cb97;
}

.card-header {
  text-align: center;
  color: white;
  background-color: #31cb97;
  font-size: 1.5rem;
  border: 0; 
}


@media only screen and (min-width: 768px) {

  .modal.fade.top.show {
      padding-top: 2rem; 
  }

}

@media only screen and (min-width: 992px) {

  .landing-container {
      display: block;
  }

} 
