ul li::before {
    content: "\2022"; 
    color: black; 
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
    align-content: space-evenly;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.modal-list-header {
    text-align: center; 
}

@media only screen and (min-width: 568px) {

   ul {
       height: 50px;
   }
  
  }


