h1 {
    margin: 0;
}

.header-content {
    height: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 

    .header-content {
        height: 22%;
    }

}

@media only screen and (min-width: 992px) {

    .header-content {
        height: 25%;
    }
    
} 

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .header-content {
        height: 42%;
    }
}