h5 {
    margin: 0;
}

.project-title {
    color: #F2F2F2;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media only screen and (min-width: 321px) {
    .project-title {
        font-size: 2rem;
    }
}

